<footer class="post-info">
    {% if article.author != AUTHOR %}
        <span class="label label-default">By</span>
        <a href="{{ SITEURL }}/{{ article.author.url }}"><i class="fa fa-user"></i> {{ article.author }}</a>
        <br>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i><time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
            </span>
        </div>
        {% if SHOW_ARTICLE_STATS %}
        <div class="col-xs-12 col-sm-6 col-md-8">
            <span class="label label-default">Time to Read</span>
            <span class="published">
                {{ article.stats['read_mins'] }} minute(s)
            </span>
        </div>
        {% endif %}
    </div>

    {% if SHOW_DATE_MODIFIED %}
        {% if article.modified %}
          <span class="label label-default">Modified</span>
            <span class="modified">
                <i class="fa fa-calendar"></i><time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
            </span>
        {% endif %}
    {% endif %}

    {% if SHOW_SERIES %}
        {% if article.series %}
            <span class="label label-default">Series</span>
            Part {{ article.series.index}} of {{ article.series.name }}
        {% endif %}
    {% endif %}

    {% if SHOW_ARTICLE_CATEGORY %}
        <span class="label label-default">Category</span>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}

    {% if article.tags %}
        <span class="label label-default">Tags</span>
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
        {% endfor %}
    {% endif %}
</footer><!-- /.post-info -->
