<div id="banner" class="hidden-xs">
    <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
        <div class="copy">
            <img src="{{ LARGE_SITELOGO }}" title="{{ SITENAME }}" alt="{{ SITENAME }}" />
            {% if BANNER_SUBTITLE_DEFAULT %}
                <p class="intro"><noscript>{{ BANNER_SUBTITLE_DEFAULT }}</noscript></p>
            {% endif %}
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function(event){
    var banner_subtitles = {{ BANNER_SUBTITLES }};
    var subtitle_selection = banner_subtitles[Math.floor(Math.random() * banner_subtitles.length)];
    document.getElementsByClassName('intro')[0].innerHTML = subtitle_selection;
});
</script>
