{% if GITHUB_USER %}
    {% if GITHUB_REPO_COUNT is not defined %}
        {% set GITHUB_REPO_COUNT = 5 %}
    {% endif %}
    {% if GITHUB_SKIP_FORK is not defined %}
        {% set GITHUB_SKIP_FORK = "false" %}
    {% else %}
        {% if GITHUB_SKIP_FORK %}
            {% set GITHUB_SKIP_FORK = "true" %}
        {% else %}
            {% set GITHUB_SKIP_FORK = "false" %}
        {% endif %}
    {% endif %}
    <!-- GitHub JS -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/github.js" type="text/javascript"></script>
    <!-- End GitHub JS Code -->
{% endif %}
