{% extends "base.html" %}
{% block content %}
    {% if articles %}
        <h4>Recent Posts</h4>
        {% if RECENT_POST_COUNT is not defined %}
            {% set RECENT_POST_COUNT = 5 %}
        {% endif %}
        {% for article in (articles_page.object_list[:RECENT_POST_COUNT] if articles_page else articles[:RECENT_POST_COUNT]) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div class="well well-sm">
                        {% include "includes/article_info.html" %}
                    </div>
                {% endif %}
                <div class="summary">{{ article.summary }}
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">read post <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
