/* Bootstrap Overrides */
body{
    padding-top:70px;
    font-family:'Comfortaa',sans-serif;
}
body > .container{
    margin-top:10px;
}
a{
    color:lightblue;
}
a:hover,
a:focus,
a:active{
    color:thistle;
}
code,
kbd,
pre,
samp{
    font-family:'Ubuntu Mono variable',monospace;
}
ul{
    list-style-type:square;
}
h4, .h4{
    color:#AAAAAA;
}

.navbar-default{
    background-color:#0a0a0a;
}
.navbar-default .navbar-brand{
    padding:7px 15px;
}
.navbar-default .navbar-brand .img-responsive{
    height:100%;
}
#sidebar{
    padding-top:0;
}
#sidebar a{
    color:#add8e6;
}
#sidebar a:hover,
#sidebar a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    color:thistle;
    text-decoration:none;
}
#sidebar #social i{
    margin-right:3px;
}
#sidebar #social .twitter a i{
    color:#4da7de;
}
#sidebar #social .linkedin a i{
    color:#3371b7;
}
#sidebar #social .youtube a i{
    color:#e02a20;
}
#sidebar #social .steam a i{
    color:lightgrey;
}
#sidebar #social .stack-overflow a i{
    color:#f69c55;
}
#sidebar #social .github a i{
    color:lightgrey;
}
#sidebar .list-group,
#sidebar .list-group-item{
    background-color:transparent;
}
.list-group-item{
    border:none;
}
/* for list-groups nested within a list-group-item, reset the bottom margin */
.list-group-item > .list-group{
    margin-bottom:0px;
}
/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has paddimg already
 */
.list-group-item .list-group-item:last-child{
    padding-bottom:0px;
}

.icon-label{
    margin-left:10px;
}

/* post summary "read more" button */
.summary .btn{
    font-family:'Baloo',sans-serif;
}

#categories ul, #tags ul{
    list-style:none;
    padding:0;
    margin-left:0;
}

.categories-timestamp{
    color:#AAAAAA;
    font-size:0.9em;
    margin-right:10px;
}

.tagcloud li{
    padding:0px;
}

#banner{
    background-repeat:no-repeat;
    background-position:center right;
    background-attachment:scroll;
    background-size:cover;
    background-color:#0a0a0a;
    margin:0 0 20px;
    padding:140px 0; /*controls padding around inner text*/
    position:relative;
    image-rendering:pixelated;
    background-image:url('{{ SITEURL}}/{{ BANNER }}');
}
#banner *{
    /* Because the banner background-image should be pixel perfect, but we want optimizations for all other images (e.g. logo) in the banner */
    image-rendering:auto;
}
#banner .copy{
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    display:inline;
    float:left;
    max-width:600px;
    padding:20px;
    position:relative;
    z-index:1;
}
#banner .intro{
    color:yellow;
    font-family:'Caviar Dreams','Comfortaa',sans-serif;
    font-size:14px;
    font-weight:normal;
    letter-spacing:0.2em;
    line-height:1.4em;
    margin:-42px 0 20px 220px;
    max-width:210px;
    opacity:0.75;
    text-align:right;
    text-shadow:1px 1px 1px #3d3d3d;
    text-transform:lowercase;
}

:target:before{
    content:"";
    display:block;
    height:50px;
    /* fixed header height*/

    margin:-50px 0 0;
    /* negative fixed header height */
}

.gap-right{
    margin-right:10px;
}
.gap-left{
    margin-left:10px;
}

a.thumbnail,
.entry-content a.thumbnail{
    border:1px solid #464545;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active{
    border-color:#DDDDDD;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #464545;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: thistle;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    background-color: #2c2c2c;
}

.pagination>li>a,
.pagination>li>span {
    background-color: slategrey;
}

.thumbnail img{
    border-radius:4px;
}

.page-header h1,
article h2,
.tipue_search_content_title{
    font-family:'Shrikhand',sans-serif;
    font-size:32px;
    letter-spacing:1px;
}
.page-header h1 a:hover,
.page-header h1 a:focus,
article h2 a:hover,
article h2 a:focus,
.tipue_search_content_title a:hover,
.tipue_search_content_title a:focus{
    text-decoration:none;
}
article h3{
    font-family:'Baloo',sans-serif;
}
.summary,
.entry-content,
.tipue_search_content_text{
    text-rendering: optimizeLegibility;
    font-family:'Ubuntu variable',sans-serif;
    font-size:15px;
}
.summary,
.tipue_search_content_text {
    font-weight:250;
}
.entry-content{
    letter-spacing: 1px;
    font-weight:100;
}
.post-info{
    font-family:'Comfortaa',sans-serif;
    font-size:14px;
}
.post-info .tag{
    margin-right:0.5em;
    border-bottom:none;
    text-transform:lowercase;
}
.post-info a,
.post-info a:hover,
.post-info a:focus,
.entry-content h3 a,
.entry-content h3 a:hover,
.entry-content h3 a:focus{
    border-bottom:none;
}
.summary li,
.entry-content li,
.tipue_search_content_text li{
    margin:0.5em 0;
}
.entry-content a{
    text-decoration:none;
    border-bottom:1px dotted;
    color:lightblue;
}
.entry-content a:hover,
.entry-content a:focus{
    text-decoration:none;
    border-bottom:1px solid;
    color:thistle;
}
.entry-content img{
    max-width:100%;
    height:auto;
}
.entry-content figcaption, .caption{
    font-size:small;
    margin-bottom:2px;
}
